:root{
    --color-1:black;
    --color-2:white;
    --color-3:#1890f0;
}
  .fahrenheit{
    cursor: pointer;
  }
  .celsius{
    cursor: pointer;
  }

span{
    color:var(--color-1);
}
.column1 h1{
    color: var(--color-2);
    font-size: 40px;
}
.row{
  overflow: hidden;
  width:100vw;
  height:100vh;
}

.column1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
    width: 50vw;
  }
  .column2{
    width: 50vw;
    background-color:var(--color-2);
  }
  .cityName{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 200;
    width:50vw;
    height: 10vh;
  }
  #temp{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
  }
  #weather{
    font-size: 30px;
    font-family: sans-serif;
  }
  .daytime{
    font-size: 20px;
    font-family: sans-serif;
    height: 10vh;
  }
p{
   font-size: 1em;
   display:inline;
}
.fahrenheit:hover,.celsius:hover{
  color: blue;
}


